#homeYou h2{
    font-size: 2.15rem;
    line-height: 3rem;
    margin-top:1rem;
    margin-bottom: 1rem;
}
#homeYou p{
    font-size: 1.15rem;
    line-height: 1.875rem;
       
       
    
}
#homeYou{
    display:grid;
    grid-template-columns: 43% 55%;
    grid-gap: 2%;
}
#homeYou iframe {
   height: 350px;
    width: 100%;
    border-radius: 5px;
    border:none;
}