.homeContainer{
    height:350px;
    background-color:white;
    width:271px;
    border: 1px solid grey;
    position: relative;
    border-radius:3px;
   
    align-self: center;
    
 }
 .homecard{
  display:flex;
  margin: 10px;
  justify-content:space-between;
  flex-direction: column;
  height: 250px;
  
 }
 .homeContainer p{
  font-size:1rem;
  font-weight:400;
 
 }
 .homeContainer>div:first-child{
   height: 100px;
   width:271px;
   overflow: hidden;
 }
 .homeContainer img{
   height: 100px;
   width: 271px;
   overflow: hidden;
   align-items: center;
   transition: transform .2s;
 }
.homeContainer img:hover {
 height: 120px;
  width: 300px;
  // transform: scale(1.5);
}
 .homeContainer button{
   position: absolute;
   color: white;
   border: none;
   border-radius: 3px;
   padding:5px;
   top: 90px;
   left:35px;
  }
:root {
    --star-size: 25px;
    --star-color: rgb(243, 222, 222);
    --star-background: #fc0;
  }

  .Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times; // make sure ★ appears correctly
    // line-height: 1;
    padding-bottom: 0px;
    &::before {
      content: '★★★★★';
      letter-spacing: 3px;
      background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
 
.last{
 
  display: grid;
  grid-template-rows:50% 50%;
  margin-bottom:25px;
  max-height: 60px;
  align-self: bottom;
  justify-content: space-between;
}
.last p{
  font-size:1.5rem;
  font-weight:700;
}
#homecarddet{
 max-height:70px;display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#homecarddet p{
  margin-bottom:5px
}