* {
  margin: 0;
  padding: 0;
}


.navbar {
  background-color: white;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
margin-top:1vw;
  color: black;
  
}
.navbar:first-child {
  background-color:dark
}

.App-link {
  color: #61dafb;
}

